In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Df = pd.read_csv("./Train/Train.csv")

In [3]:
Df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.7500,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.0000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.0000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.5250,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.2500,NaN,Q,16,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,1.0,1.0,"Blank, Mr. Henry",male,40.0,0.0,0.0,112277,31.0000,A31,C,7,NaN,"Glen Ridge, NJ"
1005,3.0,0.0,"Laitinen, Miss. Kristina Sofia",female,37.0,0.0,0.0,4135,9.5875,NaN,S,NaN,NaN,NaN
1006,1.0,1.0,"Newell, Miss. Marjorie",female,23.0,1.0,0.0,35273,113.2750,D36,C,6,NaN,"Lexington, MA"
1007,3.0,1.0,"Nicola-Yarred, Master. Elias",male,12.0,1.0,0.0,2651,11.2417,NaN,C,C,NaN,NaN
1008,3.0,0.0,"Corn, Mr. Harry",male,30.0,0.0,0.0,SOTON/OQ 392090,8.0500,NaN,S,NaN,NaN,London

In [4]:
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 14 columns):
pclass       1009 non-null float64
survived     1009 non-null float64
name         1009 non-null object
sex          1009 non-null object
age          812 non-null float64
sibsp        1009 non-null float64
parch        1009 non-null float64
ticket       1009 non-null object
fare         1008 non-null float64
cabin        229 non-null object
embarked     1008 non-null object
boat         374 non-null object
body         98 non-null float64
home.dest    582 non-null object
dtypes: float64(7), object(7)
memory usage: 110.5+ KB

In [5]:
columns_to_drop = ["name","cabin","ticket","embarked","boat","body","home.dest"]
data_cleaned =Df.drop(columns_to_drop,axis=1)

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le = LabelEncoder()

In [8]:
data_cleaned["sex"] = le.fit_transform(data_cleaned["sex"])

In [9]:
data_cleaned = data_cleaned.fillna(data_cleaned["age"].mean())

In [10]:
data_cleaned

      pclass  survived  sex        age  sibsp  parch      fare
0        3.0       0.0    0  29.838978    0.0    0.0    7.7500
1        2.0       0.0    1  39.000000    0.0    0.0   26.0000
2        2.0       1.0    0  40.000000    0.0    0.0   13.0000
3        3.0       1.0    0  31.000000    1.0    1.0   20.5250
4        3.0       1.0    0  29.838978    2.0    0.0   23.2500
...      ...       ...  ...        ...    ...    ...       ...
1004     1.0       1.0    1  40.000000    0.0    0.0   31.0000
1005     3.0       0.0    0  37.000000    0.0    0.0    9.5875
1006     1.0       1.0    0  23.000000    1.0    0.0  113.2750
1007     3.0       1.0    1  12.000000    1.0    0.0   11.2417
1008     3.0       0.0    1  30.000000    0.0    0.0    8.0500

[1009 rows x 7 columns]

In [11]:
input_col = ["pclass","sex","age","sibsp","parch","fare"]
output_col = ["survived"]
x=data_cleaned[input_col]
y=data_cleaned[output_col]

## Implementing Decision Tree

In [44]:
def entropy(col):
    narr=np.unique(col,return_counts=True)
    n = float(col.shape[0])
    e=0
    for ix in narr[1]:
        p = float(ix)/n
        e+=((-1)*p*np.log2(p))
    return e
def divide_data(x_data,f_key,f_value):
    x_right = pd.DataFrame([],columns=x_data.columns)
    x_left = pd.DataFrame([],columns=x_data.columns)
    
    for ix in range(x_data.shape[0]):
        val = x_data[f_key].loc[ix]
        if(val>f_value):
             x_right = x_right.append(x_data.loc[ix])
        else:
            x_left = x_left.append(x_data.loc[ix])
    return x_right,x_left
            
        
def information_gain(x_data,f_key,f_value):
    right,left = divide_data(x_data,f_key,f_value)
    l = float(left.shape[0])/x_data.shape[0]
    r = float(right.shape[0])/x_data.shape[0]
    
    if left.shape[0]==0 or right.shape[0]==0:
        return -1000000000000
    
    i_gain = (entropy(x_data['survived']))-(l*entropy(left['survived']))+(r*entropy(right['survived']))
    return i_gain

In [46]:
for col in data_cleaned:
    print(col)
    print(information_gain(data_cleaned,col,data_cleaned[col].mean()))

pclass
0.9403966071908682
survived
0.9570419991692567
sex
1.1014903927793231
age
1.0606749336748007
sibsp
0.6606615280423003
parch
0.5007088803634663
fare
0.5065470365972138

In [56]:
class DecisionTree:
    def __init__(self,depth=0,max_depth=5):
        self.right=None
        self.left=None
        self.fkey=None
        self.fval=None
        self.depth=depth
        self.max_depth=max_depth
        self.Target=None
        
    def Train(self,data_clean):
        features = ["pclass","sex","age","sibsp","parch","fare"]
        info=[]
        for i in features :
            info.append(information_gain(data_clean,i,data_clean[i].mean()))
        self.fkey = features[np.argmax(info)]
        self.fval = data_clean[self.fkey].mean()
        data_right,data_left = divide_data(data_clean,self.fkey,self.fval)
        
        # Leaf Node
        if data_right.shape[0]==0 or data_left.shape[0]==0:
            if data_clean.survived.mean()>0.5:
                self.Target="Survived"
            else:
                self.Target = "Dead"
            return
        # Max_Depth reached
        if self.depth>=self.max_depth:
            if data_clean.survived.mean()>0.5:
                self.Target="Survived"
            else:
                self.Target = "Dead"
            return 
        
        data_left = data_left.reset_index(drop=True)
        data_right = data_right.reset_index(drop =True)
        
        
        # Calling recursion to make full tree
        self.left = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.Train(data_left)
        
        self.right = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.Train(data_right)
        
        # Setting target in every node
        if data_clean.survived.mean()>0.5:
            self.Target="Survived"
        else:
            self.Target = "Dead"
        
        return
    
    def predict(self,test):
        if test[self.fkey]>=self.fval:
            if self.right is None :
                return self.Target
            return self.right.predict(test)
        else:
            if self.left is None :
                return self.Target
            return self.left.predict(test)

In [57]:
d = DecisionTree()

In [58]:
d.Train(data_cleaned)

In [61]:
y_pred = []

for ix in range(x.shape[0]):
    p = d.predict(x.iloc[ix])
    y_pred.append(p)

In [62]:
y_pred = le.fit_transform(y_pred)

In [65]:
y_test = data_cleaned['survived'].values

In [67]:
(y_pred== y_test).sum()/y_test.shape[0]

0.7918731417244796

## From Sklearn

In [68]:
from sklearn.tree import DecisionTreeClassifier

In [69]:
dtc = DecisionTreeClassifier(criterion="entropy",max_depth=5)

In [83]:
dtc.fit(x,y_test)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [72]:
dtc.predict(x)

array([0., 0., 1., ..., 1., 1., 0.])

In [74]:
dtc.score(x,y_test)

0.8275520317145689

## Getting test case file now

In [75]:
Df = pd.read_csv("./Test/Test.csv")

In [76]:
columns_to_drop = ["name","cabin","ticket","embarked","boat","body","home.dest"]
data_cleaned =Df.drop(columns_to_drop,axis=1)

In [77]:
data_cleaned["sex"] = le.fit_transform(data_cleaned["sex"])

In [78]:
data_cleaned = data_cleaned.fillna(data_cleaned["age"].mean())

In [104]:
prediction =dtc.predict(data_cleaned)

In [105]:
narr = np.vstack((np.arange(prediction.shape[0]),prediction))

In [106]:
narr.shape

(2, 300)

In [107]:
narr=narr.T

In [108]:
df = pd.DataFrame(narr,columns=["Id","survived"])

In [112]:
df.to_csv("Ans.csv",index=False)